{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"semi": false,
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"plugins": [
		"@ianvs/prettier-plugin-sort-imports",
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"svelteStrictMode": false,
				"svelteIndentScriptAndStyle": true,
				"svelteSortOrder": "options-scripts-markup-styles"
			}
		}
	],
	"tailwindStylesheet": "./src/app.css"
}
